#root {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

#root:hover {
  cursor: default;
}

.container {
  border: 1px solid gray;
  border-radius: 5px;
  .title-flex {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid gray;
    border-radius: 5px 5px 0 0;
    .title {
      margin: 0;
      margin-left: 5%;
    }
    .graph-icon {
      margin: 0;
      margin-right: 5%;
    }
  }
}

.pdu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 2%;
  .pdu {
    border: solid 1px gray;
    border-radius: 10px;
    margin: 1%;
    .miner-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      margin: 1em;
      .miner-port {
        width: 18px;
        height: 18px;
        padding: 1%;
        margin: 1%;
        font-size: 15px;
        line-height: 18px;
        background-color: red;
        border-radius: 5px;
        text-align: center;
        color: black;
      }
      .miner-port:hover {
        cursor: pointer;
      }
    }
  }
}

.popup-holder {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  border: solid 1px gray;
  .popup {
    background-color: rgba(0, 0, 0, 0.95);
    border-radius: 5px;
    border: 1px solid gray;
    padding: 1%;
    width: 50%;
    margin: 5% auto;
    .miner-data {
      width: 80%;
      margin: 0 auto;
      text-align: left;
    }
    button {
      padding: 1% 10%;
      border: none;
      background-color: gray;
      border-radius: 5px;
      font-size: 20px;
    }
  }
}