#root {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

#root:hover {
  cursor: default;
}

.container {
  border: 1px solid gray;
  border-radius: 5px;
  .title-flex {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid gray;
    border-radius: 5px 5px 0 0;
    .title {
      margin: 0;
      margin-left: 5%;
    }
    .graph-icon {
      margin: 0;
      margin-right: 5%;
      cursor: pointer;
    }
  }
}

.pdu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 2%;
  .pdu {
    border: solid 1px gray;
    border-radius: 10px;
    margin: 1%;
    min-width: 30%;
    .miner-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 1em;
      .miner-port {
        width: 18px;
        height: 18px;
        padding: 1%;
        margin: 1%;
        font-size: 15px;
        line-height: 18px;
        background-color: red;
        border-radius: 5px;
        text-align: center;
        color: black;
      }
      .miner-port:hover { 
        cursor: pointer;
        box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.8);
        color: white;
        transition: 200ms ease-in-out;
        filter: brightness(80%);
      }
    }
  }
}

.popup-holder {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  .popup {
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.95);
    border-radius: 5px;
    border: 1px solid gray;
    width: 70%;
    margin: 10% auto;
    .miner-data {
      width: 80%;
      margin: 0 auto;
      text-align: left;
    }
    .chart-box{
      padding: 1%;
      margin: 0 auto;
      height: 400px;
      width: 90%;
    }
    button {
      padding: 1% 10%;
      border: none;
      background-color: gray;
      border-radius: 5px;
      font-size: 20px;
    }
    button:hover {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .pdu {
    border: solid 1px gray;
    border-radius: 10px;
    margin: 1%;
    max-width: 100%;
    min-width: 0%;
    width: 100%;
  }
  .container {
    .title-flex {
      .title {
        font-size: 20px;
        margin: 0;
        margin-left: 5%;
      }
      .graph-icon {
        font-size: 20px;
        margin: 0;
        margin-right: 5%;
      }
    }
  }
}